<a type="button" class="btn btn-primary" href="<%=new_resident_path%>" style="width: 80px; margin-bottom: 20px;">
  New
</a>

<table id="resident-table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Birthday</th>
      <th>Contact Number</th>
      <th>Purok</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |resident| %>
      <tr>
        <td><%= resident[1]%></td>
        <td><%= resident[2]%></td>
        <td><%= resident[3]%></td>
        <td><%= resident[4]%></td>
        <td>
          <%= link_to edit_resident_path(resident[0]) do %>
            Edit
          <% end %>
          <%= link_to resident_path(resident[0]), method: :delete do %>
            Delete
          <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= content_for :stylesheet do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></link>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css"></link>
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
  <%= javascript_pack_tag 'residents/index' %>
<% end %>






